@font-face {
	font-family: "Segoe UI";
	src: url("../fonts/Segoe_UI.eot");
	src: url("../fonts/Segoe_UI.eot?#iefix") format("embedded-opentype"), url("../fonts/Segoe_UI.woff") format("woff"),
		url("../fonts/Segoe_UI.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Segoe UI";
	src: url("../fonts/Segoe_UI_Bold.eot");
	src: url("../fonts/Segoe_UI_Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Segoe_UI_Bold.woff") format("woff"), url("../fonts/Segoe_UI_Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
