.main {
	overflow: hidden;
	padding: 20px 0;
	position: relative;
	z-index: 2;
}
.wrapper {
	max-width: 652px;
	margin: 0px auto;
	padding: 0px 16px;
}

.title {
	font-weight: 400;
	font-size: 32px;
	line-height: 43px;
	text-align: center;
	color: #ffffff;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-cover img,
.svg-cover svg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img-contain img,
.svg-contain svg {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.btn {
	background: linear-gradient(87.23deg, rgba(128, 26, 179, 0) -91.42%, #4c4cff 99.79%);
	border-radius: 4px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	padding: 4px 12.5px 6px;
	cursor: pointer;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
}

@-webkit-keyframes sheens {
	0%,
	79% {
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
		transform: rotateZ(60deg) translate(-5em, 7.5em);
	}
	80% {
		opacity: 1;
		filter: alpha(opacity=100);
		-webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
		transform: rotateZ(60deg) translate(-5em, 7.5em);
	}
	95% {
		opacity: 1;
		filter: alpha(opacity=100);
		-webkit-transform: rotateZ(60deg) translate(1em, -11em);
		transform: rotateZ(60deg) translate(1em, -11em);
	}
	100% {
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transform: rotateZ(60deg) translate(1em, -9em);
		transform: rotateZ(60deg) translate(1em, -9em);
	}
}
@keyframes sheens {
	0%,
	79% {
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
		transform: rotateZ(60deg) translate(-5em, 7.5em);
	}
	80% {
		opacity: 1;
		filter: alpha(opacity=100);
		-webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
		transform: rotateZ(60deg) translate(-5em, 7.5em);
	}
	95% {
		opacity: 1;
		filter: alpha(opacity=100);
		-webkit-transform: rotateZ(60deg) translate(1em, -11em);
		transform: rotateZ(60deg) translate(1em, -11em);
	}
	100% {
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transform: rotateZ(60deg) translate(1em, -9em);
		transform: rotateZ(60deg) translate(1em, -9em);
	}
}

@media (max-width: 1230px) {
}
@media (max-width: 1010px) {
}
@media (max-width: 768px) {
}
